app/venv
web/.IDEA/
web/.idea/
web/.idea/dataSources.xml
web/node_modules

.idea/dataSources.xml

.idea/dataSources.local.xml

.idea/dataSources/1dd2ddeb-08ce-4e18-9f75-fe7e8d55b8f7.xml

.idea/dataSources/27806eb3-7dcc-4553-9b5b-167481822855/storage_v2/_src_/schema/main.uQUzAA.meta

.idea/misc.xml

*.iml

.idea/modules.xml

.idea/dataSources/1dd2ddeb-08ce-4e18-9f75-fe7e8d55b8f7/storage_v2/_src_/schema/main.uQUzAA.meta

.idea/dataSources/27806eb3-7dcc-4553-9b5b-167481822855.xml

.idea/vcs.xml

.idea/workspace.xml


